@import "https://fonts.googleapis.com/css?family=Montserrat";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);



@font-face {
    font-family: Narziss-medium;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    background: transparent;
    font-size: 6px;
    padding: 4rem 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 860px) {

    body,
    html {
        font-size: 8px;
        padding: 3rem 5rem;
    }
}

@media (min-width: 1200px) {

    body,
    html {
        font-size: 10px;
        padding: 2rem 3rem;
    }
}



.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem 2rem;
    z-index: 999;
}

.header-wrapper .header {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
}

.header-wrapper .menu-wrapper {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width: 2.5rem;
    height: 3rem;
    right: 0;
    margin: 0;
    text-align: left;
}

.header-wrapper .menu-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper .menu-hamburger {
    position: relative;
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    background: white;
    height: 1px;
    cursor: pointer;
    right: 0;
    top: 1rem;
}

.header-wrapper .menu-hamburger::before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: white;
    position: absolute;
    top: -0.8rem;
    left: 0;
}

.header-wrapper .menu-hamburger::after {
    content: "";
    width: 2rem;
    height: 1px;
    background: white;
    position: absolute;
    top: 0.8rem;
    left: 0;
}

.header-wrapper .nav-wrapper {
    position: relative;
    float: right;
}

.header-wrapper nav {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 700;
    color: white;
}

.header-wrapper nav ul {
    padding: 0;
    display: block;
    list-style: none;
}

.header-wrapper nav ul:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper nav li {
    float: left;
    margin: 0 1.2rem;
}

.header-wrapper nav li:last-child {
    margin-left: 0;
}

.lines-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.lines-wrapper span.vertical {
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    top: 12%;
    left: 0;
    z-index: 1;
    opacity: 0.1;
}

.lines-wrapper .croses span {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 11%;
    left: calc(20% - 2px);
}

.lines-wrapper .croses span:nth-child(2) {
    left: calc(40% - 2px);
}

.lines-wrapper .croses span:nth-child(3) {
    left: calc(60% - 2px);
}

.lines-wrapper .croses span:nth-child(4) {
    left: calc(80% - 2px);
}

.lines-wrapper span.horizontal {
    position: absolute;
    width: 1px;
    height: 100%;
    background: white;
    z-index: 1;
    left: 20%;
    opacity: 0.2;
}

.lines-wrapper span.horizontal:nth-child(2) {
    left: 40%;
}

.lines-wrapper span.horizontal:nth-child(3) {
    left: 60%;
}

.lines-wrapper span.horizontal:nth-child(4) {
    left: 80%;
}

.slider-content {
    position: relative;
    max-width: 112rem;
    min-width: 480px;
    background: #fff;
    margin: 0 auto;
}

.slider-content .slider-container {
    position: relative;
    height: 60rem;
}

.slider-content .slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-content .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
    opacity: 0;
}

.slider-content .slide:after {
    content: "";
    display: table;
    clear: both;
}

.slider-content .slide.active {
    opacity: 1;
    z-index: 50;
}

.slider-content .slide.next {
    opacity: 1;
}

.slider-content .slide.red {
    background-color: #ee4654;
}

.slider-content .slide.yellow {
    background-color: #d7d76c;
}

.slider-content .slide.green {
    background-color: #6cd779;
}

.slider-content .slide.purple {
    background-color: #500b82cb;
}

.slider-content .slide.blue {
    background-color: #de0606c4;
}

.slider-content .canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.slider-content .fake-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
}

.slider-content .fake-bg.red {
    background-image: url(../images/codeworkslider/social.png);
    background-color: #ee4654;
}

.slider-content .fake-bg.yellow {
    background-image: url(../images/codeworkslider/cryptobyte.png);
    background-color: #d7d76c;
}

.slider-content .fake-bg.green {
    background-image: url(../images/codeworkslider/photosynthetic.png);
    background-color: #6cd779;
}

.slider-content .fake-bg.purple {
    background-image: url(../images/codeworkslider/game.png);
    background-color: #500b82cb;
}

.slider-content .fake-bg.blue {
    background-image: url(../images/codeworkslider/fujipic.png);
    background-color: #de0606c4;
}


.slider-content .image-mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 125%;
    overflow: hidden;
}

.slider-content .image-mask img {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    top: -45px;
}

.slider-content .mask-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -5rem;
}

.slider-content .mask-animation img.clip {
    width: 100%;
    -webkit-clip-path: url(#svgPathBig);
    clip-path: url(#svgPathBig);
}

.slider-content .image-caption {
    position: absolute;
    color: white;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 20rem;
    left: 12rem;
    font-size: 1.3rem;
    z-index: 10;
    clip: rect(0rem, 21rem, 12rem, 0px);
    display: inline-block;
    transition: all 0.3s ease;
}

.slider-content .image-caption.mask-up {
    clip: rect(0rem, 0rem, 12rem, 0px);
}

.slider-content .image-caption.mask-down {
    clip: rect(0rem, 21rem, 2rem, 200px);
}

.slider-content .image-caption span {
    display: inline-block;
    vertical-align: top;
}

.slider-content .image-caption .line {
    position: relative;
    background: white;
    height: 1px;
    width: 5rem;
    top: 1rem;
}

.slider-content .title-background {
    position: absolute;
    font-size: 0.5vw;
    font-family: Narziss;
    top: 8rem;
    left: 4rem;
    color: black;
    opacity: 0.03;
    text-align: right;
}

.slider-content .title-background span.mask-wrap {
    display: block;
    height: 25rem;
    position: relative;
}

.slider-content .title-background span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0rem, 120rem, 25rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-background span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-background span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 120rem, 0rem, 0px);
}

.slider-content .title-background span.mask-wrap.mask-down span.mask {
    clip: rect(25rem, 44rem, 25rem, 0px);
}

.slider-content .title-wrapper {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: right;
    margin-top: 25rem;
    z-index: 5;
}

.slider-content .title-wrapper h1 {
    font-size: 6rem;
    margin: 0;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 900;
    text-align: right;
    font-family: 'Abril Fatface', cursive;
    margin-left: 5rem;
}

.slider-content .title-wrapper h1 span.mask-wrap {
    display: block;
    height: 12rem;
    position: relative;
}

.slider-content .title-wrapper h1 span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    right: 0;
    clip: rect(0rem, 48rem, 12rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 44rem, 0rem, 0px);
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
    clip: rect(12rem, 44rem, 12rem, 0px);
}

.slider-content .title-wrapper span.gallery {
    position: relative;
    text-align: right;
    padding: 0 2rem;
    cursor: pointer;
    margin-right: 5rem;
}



.slider-content .title-wrapper span.gallery::before {
    content: "";
    position: absolute;
    left: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    top: -0.5rem;
    opacity: 0.9;
}

.slider-content .title-wrapper span.gallery::after {
    content: "";
    position: absolute;
    right: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: rgb(255, 251, 251);
    top: -0.5rem;
    opacity: 0.9;
}

.control-nav {
    position: absolute;
    right: 3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}

.control-nav ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.control-nav li {
    position: relative;
    margin: 0.2rem 0;
    opacity: 0.5;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
}

.control-nav li.active {
    opacity: 1;
}

.control-nav li.active .line {
    -webkit-transform: translateX(-1.2rem);
    transform: translateX(-1.2rem);
    width: 1.8rem;
}

.control-nav li.active .number {
    opacity: 1;
}

.control-nav .line {
    width: 1.5rem;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    background: white;
    left: -1rem;
    transition: all 0.3s ease;
}

.control-nav .number {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.social-icons {
    position: absolute;
    bottom: 6.7rem;
    left: 3rem;
    z-index: 999;
}

.social-icons ul li:hover,
.social-icons ul li :active {
    /* letter-spacing: 5px; */
}

.social-icons::before {
    content: "";
    position: absolute;
    left: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    bottom: 1rem;
    opacity: 0.9;
}

.social-icons::after {
    content: "";
    position: absolute;
    right: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: rgb(255, 251, 251);
    bottom: 1rem;
    opacity: 0.9;
}

.social-icons ul li:after,
.social-icons ul li:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}


.social-icons:hover {
    text-decoration: none;
}

.social-icons ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons ul li {
    position: relative;
    display: block;
    padding: 0.3rem 0;
}

.social-icons ul p {
    display: block;
    width: 14rem;
    text-align: center;
    height: 2rem;
    color: white;
    cursor: pointer;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.social-icons ul a:hover{
    display: block;
    width: 14rem;
    height: 2rem;
    color: white;
}

.social-icons ul li:hover:after,
.social-icons:hover ul li:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.social-icons ul li:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}


.social-icons ul a svg {
    fill: white;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-wrapper {
    position: absolute;
    color: white;
    bottom: 0rem;
    right: 0rem;
    width: 60%;
    height: 6rem;
    z-index: 999;
}

.footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}

.footer-wrapper ul:after {
    content: "";
    display: table;
    clear: both;
}

.footer-wrapper li {
    position: relative;
    float: left;
    width: 25%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.footer-wrapper li:last-child {
    border: none;
}

.footer-wrapper li.active .hover-box {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.footer-wrapper li .hover-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    z-index: 1;
}

.footer-wrapper li .box-content {
    position: relative;
    z-index: 5;
}

/* ################################################################################################################# */
/* NAV BAR STYLE */
/* ################################################################################################################# */
.navigator {
    margin-top: 5%;
}

header {
    width: 100%;
    height: auto;
}

nav {
    background: transparent;
    overflow: hidden;
    width: 100%;
    z-index: 1999;
}

.logo-section {
    float: left;
    padding: 18px;
    font-family: serif;
}

.hb-button {
    float: right;
    background: white;
    color: rgb(0, 255, 166);
    border: none;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav a {
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    padding: 5px;

}

nav ul {
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height: 0.5s;
    -webkit-transition: max-height: 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;

}


nav ul li {
    float: right;
    display: inline;
    padding: 20px;
}

li>a {
    position: relative;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 255, 166);
}

li>a:hover {
    color: #000;
}

li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 166);
    visibility: onset;
    -webkit-transform: scaleX(0);
    transform: scale(0);
    -webkit-transition: all 4s easy-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

li>a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Image on nav bar class */
.logoimg {
    height: 7vh;
}

/*Collapse Image on nav bar class */


/* COLLAPSE NAV BAR STYLE */
/* ################################################################################################################# */
/* ################################################################################################################# */
/* LOADER LANDING PAGE */
/* ################################################################################################################# */

/* ----------------------------------------------- */


@media screen and (max-width:767px) {
    /* NAV-BAR */
    .logo-section {
        float: none;
    }

    nav ul {
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }

    nav ul.show {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }

    .hb-button {
        display: inline;
    }

    .logoimg {
        height: 5vh;
        float: left;
    }
}



/* ----------------------------------------------- */




@media only screen and (max-width : 639px) {
    .projectslider{
        margin-left: -3%;
    }
}




/* ----------------------------------------------- */




@media only screen and (max-width : 600px) {
    .projectslider {
        margin-left: -8%;
    }
}




/* ----------------------------------------------- */




@media (max-width:550px) {
    .hb-button {
        margin-right: -5%;
    }
    .logoimg {
        display: none;
    }

    /* Project container section */
    .projectslider {
        margin-left: -15%;
    }

}



/* ----------------------------------------------- */




@media (max-width:450px) {

    /* Navbar Display button */
    .hb-button {
        float: left;
    }

    /* Project container section */
    .projectslider {
        margin-left: -35%;
    }

}




/* ----------------------------------------------- */




@media (max-width:400px) {

    /* Project container section */
    .projectslider {
        margin-left: -40%;
    }

}




/* ----------------------------------------------- */




@media (max-width:350px) {

    /* Project container section */
    .projectslider {
        margin-left: -47%;
    }

}




/* ----------------------------------------------- */




@media (max-width:330px) {

    /* Project container section */
    .projectslider {
        margin-left: -55%;
    }

}




/* ----------------------------------------------- */