/*!************************************************\


 ________   _______   ___       ___       ______     _              ____
 |  ____|  |  ___  |  | |       | |      |_   _|    | \     ||   / ____|
 | |       | |   | |  | |       | |        | |      |  \    ||  | (___
 | |       | |   | |  | |       | |        | |      ||\  \  ||   \___  \
 | |____   | |___| |  | |____   | |____    | |      ||  \  \||   ____) /
 |______|  |_______|  |______|  |______| |_____|    ||    \_ |  \_____/


   Conception/Design by https://github.com/zecollokaris
                   made by collo

  
\*************************************************/

/*************************************************\
                     
\*************************************************/

/* ################################################################################################################# */



*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

a {
	outline: none;
	color: #eecc99;
	text-decoration: none;
}



.demo-3 {
	background: #e8e8ec;
	color: #333;
	height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
}

.demo-3::after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 20px solid #fff;
}

.demo-3 a { color: #9e9e9e; }
.demo-3 a:hover, .demo-3 a:focus { color: #333; }


/* Helpers */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Buttons */
.btn {
	background: #eecc99;
	color: inherit;
	border: 0;
	margin: 0;
	display: block;
	padding: 0.5em 1.15em;
	border-radius: 0.3em;
	margin: 1em 0 0;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: capitalize;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn[disabled] {
	opacity: 0.8;
}

.btn:not([disabled]):hover {
	background: #666c7b;
	color: #fff;
}

.btn:focus {
	outline: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}



.demo-3 .codrops-header {
	position: absolute;
	width: calc(80vw - 5px);
	top: 15vh;
	left: 10vw;
	height: calc(70vh - 5px);
	margin: 5px 0 0 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
	-webkit-animation: fadeIn 2s ease-out forwards;
	animation: fadeIn 2s ease-out forwards;
}

@-webkit-keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


.codrops-header__title {
	margin: 0;
	padding: 0 0 0.15em 0;
	font-size: 9vw;
	text-transform: uppercase;
	line-height: 1;
	font-weight: normal;
}

.demo-3 .codrops-header__title {
	font-family: 'Kaushan Script', cusrive;
	text-transform: none;
	font-size: 14vw;
	color: #000;
	margin: 0;
	padding: 0 0 0.35em;
}

 /* Text start a conversation  */
.demo-3 .sponsor {
	color: #4b4e59;
	font-size: 0.85em;
}

.demo-4 .codrops-header__title {
	font-size: 2.5em;
	font-weight: bold;
}



.demo-3 .codrops-links{
	position: relative;
}


.codrops-icon {
	display: block;
	padding: 0.25em 1.5em 0.25em 0;
}

.codrops-icon:last-child {
	padding-right: 0;
}

/* Demo links */
.codrops-demos {
	margin: 1em 0 0 0;
}


.codrops-demos a {
	display: inline-block;
	margin: 0 1em 0 0;
	font-weight: bold;
	font-size: 0.85em;
	color: black;
}

/* Text With Contacts */
.demo-3 .codrops-demos a {
	font-size: 1.1em;
	font-weight: normal;
}


.codrops-demos a.current-demo {
	color: black;
}





.dummy {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
	height: 15vh;
}

.dummy__icon {
	width: calc(10vw - 20px);
	color: #b0b0b1;
}

@media screen and (max-width: 800px) {

	.demo-3::after {
		border-width: 15px;
	}
	.dummy {
		padding: 10px 15% 0 15%;
	}
	.dummy__icon {
		width: calc(10vw - 10px);
	}
}
