/*!************************************************\


 ________   _______   ___       ___       ______     _              ____
 |  ____|  |  ___  |  | |       | |      |_   _|    | \     ||   / ____|
 | |       | |   | |  | |       | |        | |      |  \    ||  | (___
 | |       | |   | |  | |       | |        | |      ||\  \  ||   \___  \
 | |____   | |___| |  | |____   | |____    | |      ||  \  \||   ____) /
 |______|  |_______|  |______|  |______| |_____|    ||    \_ |  \_____/


   Conception/Design by https://github.com/zecollokaris
                   made by collo

  
\*************************************************/

/*************************************************\
                     
\*************************************************/

/* ################################################################################################################# */



.decolines {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.decolines--fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.decoline {
	position: absolute;
	z-index: -200;
}