/*!************************************************\


 ________   _______   ___       ___       ______     _              ____
 |  ____|  |  ___  |  | |       | |      |_   _|    | \     ||   / ____|
 | |       | |   | |  | |       | |        | |      |  \    ||  | (___
 | |       | |   | |  | |       | |        | |      ||\  \  ||   \___  \
 | |____   | |___| |  | |____   | |____    | |      ||  \  \||   ____) /
 |______|  |_______|  |______|  |______| |_____|    ||    \_ |  \_____/


   Conception/Design by https://github.com/zecollokaris
                   made by collo

  
\*************************************************/

/*************************************************\
                     
\*************************************************/

/* ################################################################################################################# */


.animate-bottom {
	position: relative;
}
 

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
	padding: 4em 0 15em;
}