/*!************************************************\


 ________   _______   ___       ___       ______     _              ____
 |  ____|  |  ___  |  | |       | |      |_   _|    | \     ||   / ____|
 | |       | |   | |  | |       | |        | |      |  \    ||  | (___
 | |       | |   | |  | |       | |        | |      ||\  \  ||   \___  \
 | |____   | |___| |  | |____   | |____    | |      ||  \  \||   ____) /
 |______|  |_______|  |______|  |______| |_____|    ||    \_ |  \_____/


   Conception/Design by https://github.com/zecollokaris
                   made by collo

  
\*************************************************/

/*************************************************\
                     
\*************************************************/



/* ################################################################################################################# */
        /* STYLER FOR WHOLE BODY SECTION */
/* ################################################################################################################# */


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

*{
    margin: 0;
    padding: 0;

}


body {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: auto;
  
}



#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}


    /* COLAPSE STYLER FOR WHOLE BODY SECTION */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* NAV BAR STYLE */
/* ################################################################################################################# */
.navigator{
    margin-top: 5%;
}
header{
    width: 100%;
    height: auto;
}

nav{
    background: transparent;
    overflow: hidden;
    width: 100%;
    z-index: 1999;
}

.logo-section{
    float: left;
    padding: 18px;
    font-family: serif;
}

.hb-button{
    float: right;
    background: white;
    color: rgb(0, 255, 166);
    border: none;
    font-size:22px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
nav a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    padding: 5px;
    
}

nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height: 0.5s;
    -webkit-transition: max-height: 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s; 
}


nav ul li{
    float: right;
    display: inline;
    padding: 20px;
}
li > a{
    position: relative;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 255, 166);
}

li > a:hover{
    color:#000;
}

li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 166);
    visibility: onset;
    -webkit-transform: scaleX(0);
    transform: scale(0);
    -webkit-transition: all 4s easy-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

li > a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Image on nav bar class */
.logoimg{
    height: 7vh;
}
/*Collapse Image on nav bar class */


/* COLLAPSE NAV BAR STYLE */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* LOADER LANDING PAGE */
/* ################################################################################################################# */


#loader{
    position: absolute;
    left: 45%;
    top: 30%;
    margin: 0 auto;
}

/* hide content */
#content{
    display: none;
    text-align: center;
}

/* add animation */
.animate-bottom{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom{
    from {bottom: -100px; opacity: 0}
    to{ bottom: 0; opacity: 1}
}
@keyframes animatebottom {
    from{ bottom:-400px; opacity: 0 }
    to{ bottom: 0px; opacity: 1}

}


        /*COLLAPSE LOADER LANDING PAGE */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /*  IMAGE SLIDER AT THE TOP */
/* ################################################################################################################# */


.oneslider{
    position: relative;
    width: 100%;
    height: 71vh;
    box-shadow: -1px 6px 48px -6px rgba(0, 0, 0, 0.407);
    margin: auto;
    overflow: hidden;
}

.oneslide{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-100%,0%);
}

.activeone{
    transform: translate(0,0);
}

.activeone ~ .oneslide{
    transform: translate(100%,0);
    
}

/* SLIDER IMAGES */
.s1{
    background: url('../images/slide1.JPG');
    background-size: 100% 100%;
}

.s2{
    background: url('../images/slide2.JPG');
    background-size: 100% 100%;
}

.s3{
    background: url('../images/slide3.JPG');
    background-size: 100% 100%;
}

.s4{
    background: url('../images/slide4.jpg');
    background-size: 100% 100%;
}

.s5{
    background: url('../images/slide5.JPG');
    background-size: 100% 100%;
}

.s6{
    background: url('../images/slide6.jpg');
    background-size: 100% 100%;
}

.onebox{
    height: 73vh;
    width: 100%;
    background: url('../images/boxflwpatt.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 999;
    -webkit-clip-path:polygon(0% 100%, 100% 100%,100% 80%,93% 85%,8% 95%, 15% 6%,89% 22%,93% 85%,100% 80%,100% 0%,0% 0%,0% 100%);
    transition: all 1s;
    background-attachment: fixed;
}

        /* COLLAPSE SLIDER IMAGES */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* HOME CONTENT SECTION */
/* ################################################################################################################# */

/* HOME INTRO SECTION */

#home-intro{
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 5px solid yellow;
    margin: 1em 0;
    width: 100px;
}

#quotetxt{
    margin-top:7%;
    font-family: 'Courgette', cursive;
    font-size: 15px;
}

#quoteline{
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid yellow;
}

.intro-description{
    padding-top: 2%;
}

#tag-image{
    height: 14%;
    width: 14%;
}

/* COLLAPSE HOME INTRO SECTION */

/* ################################################################################################################# */
/* ################################################################################################################# */
    /* ABOUT PAGE */
/* ################################################################################################################# */

.about-me{
  margin-top: 1%;
}

.column1 {
  float: left;
  width: 45%;
  text-align: center;
  
  margin-left: 3%;
}

.column2 {
  float: right;
  width: 45%;
  text-align: center;
  margin-right: 3%
}

#aboutline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 9px solid yellow;
  margin: 1em 0;
  padding: 0;
}

.aboutima{
  height: 500;
  width: 500;
  margin-top: 50%;
}
/* Image is not seen in large screens */
 .about-intro-image{
   display: none;
 }

/* ################################################################################################################# */
/* ################################################################################################################# */
    /* PROJECT SLIDER  */
/* ################################################################################################################# */

.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem 2rem;
    z-index: 999;
}

.header-wrapper .header {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
}

.header-wrapper .menu-wrapper {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width: 2.5rem;
    height: 3rem;
    right: 0;
    margin: 0;
    text-align: left;
}

.header-wrapper .menu-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper .menu-hamburger {
    position: relative;
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    background: white;
    height: 1px;
    cursor: pointer;
    right: 0;
    top: 1rem;
}

.header-wrapper .menu-hamburger::before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: white;
    position: absolute;
    top: -0.8rem;
    left: 0;
}

.header-wrapper .menu-hamburger::after {
    content: "";
    width: 2rem;
    height: 1px;
    background: white;
    position: absolute;
    top: 0.8rem;
    left: 0;
}

.header-wrapper .nav-wrapper {
    position: relative;
    float: right;
}


.header-wrapper nav {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 700;
    color: white;
}

.header-wrapper nav ul {
    padding: 0;
    display: block;
    list-style: none;
}

.header-wrapper nav ul:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper nav li {
    float: left;
    margin: 0 1.2rem;
}

.header-wrapper nav li:last-child {
    margin-left: 0;
}

.lines-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.lines-wrapper span.vertical {
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    top: 12%;
    left: 0;
    z-index: 1;
    opacity: 0.1;
}

.lines-wrapper .croses span {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 11%;
    left: calc(20% - 2px);
}

.lines-wrapper .croses span:nth-child(2) {
    left: calc(40% - 2px);
}

.lines-wrapper .croses span:nth-child(3) {
    left: calc(60% - 2px);
}

.lines-wrapper .croses span:nth-child(4) {
    left: calc(80% - 2px);
}

.lines-wrapper span.horizontal {
    position: absolute;
    width: 1px;
    height: 100%;
    background: white;
    z-index: 1;
    left: 20%;
    opacity: 0.2;
}

.lines-wrapper span.horizontal:nth-child(2) {
    left: 40%;
}

.lines-wrapper span.horizontal:nth-child(3) {
    left: 60%;
}

.lines-wrapper span.horizontal:nth-child(4) {
    left: 80%;
}

/* CONTAINER FOR PROJECT SECTION! */
.slider-content {
    position: relative;
    max-width: 112rem;
    min-width: 480px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50%;
}

/* BACKGROUND WITH COLOR HEIGHT SETTER */
.slider-content .slider-container {
    position: relative;
    height: 62rem;
}

.slider-content .slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-content .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
    opacity: 0;
}

.slider-content .slide:after {
    content: "";
    display: table;
    clear: both;
}

.slider-content .slide.active {
    opacity: 1;
    z-index: 50;
}

.slider-content .slide.next {
    opacity: 1;
}

.slider-content .slide.red {
    background-color: #ee4654;
}

.slider-content .slide.yellow {
    background-color: #d7d76c;
}

.slider-content .slide.green {
    background-color: #6cd779;
}

.slider-content .slide.purple {
    background-color: #500b82cb;
}

.slider-content .slide.blue {
    background-color: #de0606c4;
}

.slider-content .canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.slider-content .fake-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
}

.slider-content .fake-bg.red {
    background-image: url(../images/codeworkslider/social.png);
    background-color: #ee4654;
}

.slider-content .fake-bg.yellow {
    background-image: url(../images/codeworkslider/cryptobyte.png);
    background-color: #d7d76c;
}

.slider-content .fake-bg.green {
    background-image: url(../images/codeworkslider/photosynthetic.png);
    background-color: #6cd779;
}

.slider-content .fake-bg.purple {
    background-image: url(../images/codeworkslider/game.png);
    background-color: #500b82cb;
}

.slider-content .fake-bg.blue {
    background-image: url(../images/codeworkslider/fujipic.png);
    background-color: #de0606c4;
}


.slider-content .image-mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 125%;
    overflow: hidden;
}

.slider-content .image-mask img {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    top: -45px;
}

.slider-content .mask-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -5rem;
}

.slider-content .mask-animation img.clip {
    width: 100%;
    -webkit-clip-path: url(#svgPathBig);
    clip-path: url(#svgPathBig);
}

.slider-content .image-caption {
    position: absolute;
    color: white;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 20rem;
    left: 12rem;
    font-size: 1.3rem;
    z-index: 10;
    clip: rect(0rem, 21rem, 12rem, 0px);
    display: inline-block;
    transition: all 0.3s ease;
}

.slider-content .image-caption.mask-up {
    clip: rect(0rem, 0rem, 12rem, 0px);
}

.slider-content .image-caption.mask-down {
    clip: rect(0rem, 21rem, 2rem, 200px);
}

.slider-content .image-caption span {
    display: inline-block;
    vertical-align: top;
}

.slider-content .image-caption .line {
    position: relative;
    background: white;
    height: 1px;
    width: 5rem;
    top: 1rem;
}

.slider-content .title-background {
    position: absolute;
    font-size: 0.5vw;
    font-family: Narziss;
    top: 8rem;
    left: 4rem;
    color: black;
    opacity: 0.03;
    text-align: right;
}

.slider-content .title-background span.mask-wrap {
    display: block;
    height: 25rem;
    position: relative;
}

.slider-content .title-background span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0rem, 120rem, 25rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-background span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-background span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 120rem, 0rem, 0px);
}

.slider-content .title-background span.mask-wrap.mask-down span.mask {
    clip: rect(25rem, 44rem, 25rem, 0px);
}


/* CONTENT WITH (Title of project & View Site) */
.slider-content .title-wrapper {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: right;
    margin-top: 23.2rem;
    z-index: 5;
}

.slider-content .title-wrapper h1 {
    font-size: 6rem;
    margin: 0;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 900;
    text-align: right;
    font-family: 'Abril Fatface', cursive;
    margin-left: 5rem;
}

.slider-content .title-wrapper h1 span.mask-wrap {
    display: block;
    height: 12rem;
    position: relative;
}

.slider-content .title-wrapper h1 span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    right: 0;
    clip: rect(0rem, 48rem, 12rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 44rem, 0rem, 0px);
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
    clip: rect(12rem, 44rem, 12rem, 0px);
}

.slider-content .title-wrapper span.gallery {
    position: relative;
    text-align: right;
    padding: 0 2rem;
    cursor: pointer;
    margin-right: 5rem;
}



.slider-content .title-wrapper span.gallery::before {
    content: "";
    position: absolute;
    left: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    top: -0.5rem;
    opacity: 0.9;
}

.slider-content .title-wrapper span.gallery::after {
    content: "";
    position: absolute;
    right: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: rgb(255, 251, 251);
    top: -0.5rem;
    opacity: 0.9;
}

.control-nav {
    position: absolute;
    right: 3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}

.control-nav ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.control-nav li {
    position: relative;
    margin: 0.2rem 0;
    opacity: 0.5;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
}

.control-nav li.active {
    opacity: 1;
}

.control-nav li.active .line {
    -webkit-transform: translateX(-1.2rem);
    transform: translateX(-1.2rem);
    width: 1.8rem;
}

.control-nav li.active .number {
    opacity: 1;
}

.control-nav .line {
    width: 1.5rem;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    background: white;
    left: -1rem;
    transition: all 0.3s ease;
}

.control-nav .number {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* TEXT (View Project On Github!) */
.social-icons {
    position: absolute;
    bottom: 10.7rem;
    left: 3rem;
    z-index: 999;
}



.social-icons::before {
    content: "";
    position: absolute;
    left: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    bottom: 1rem;
    opacity: 0.9;
}

.social-icons::after {
    content: "";
    position: absolute;
    right: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: rgb(255, 251, 251);
    bottom: 1rem;
    opacity: 0.9;
}

.social-icons ul li:after,
.social-icons ul li:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}


.social-icons:hover {
    text-decoration: none;
}

.social-icons ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons ul li {
    position: relative;
    display: block;
    padding: 0.3rem 0;
}

.social-icons ul p {
    display: block;
    width: 14rem;
    text-align: center;
    height: 2rem;
    color: white;
    cursor: pointer;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.social-icons ul a:hover{
    display: block;
    width: 14rem;
    height: 2rem;
    color: green;
}

.social-icons ul li:hover:after,
.social-icons:hover ul li:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.social-icons ul li:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}


.social-icons ul a svg {
    fill: white;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-wrapper {
    position: absolute;
    color: white;
    bottom: 0rem;
    right: 0rem;
    width: 60%;
    height: 6rem;
    z-index: 999;
}

.footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}

.footer-wrapper ul:after {
    content: "";
    display: table;
    clear: both;
}

.footer-wrapper li {
    position: relative;
    float: left;
    width: 25%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.footer-wrapper li:last-child {
    border: none;
}

.footer-wrapper li.active .hover-box {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.footer-wrapper li .hover-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    z-index: 1;
}

.footer-wrapper li .box-content {
    position: relative;
    z-index: 5;
}





/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */


/* ################################################################################################################# */

/* ################################################################################################################# */

/* MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
        /* MEDIA QRYS */


/* ----------------------------------------------- */

/* Large devices (large desktops,) */
@media (max-width:1200px ) {
  /* About Page */
 .aboutima{
    margin-top: 60%;
  }
 .about-intro-image{
   display: none;
 }

}


/* ----------------------------------------------- */

/* MEDIUM DEVICES (desktops,) */
@media (max-width:992px ) {
    /* About Page */
   .aboutima{
    margin-top: 100%;
    height: 500;
    width: 500;
  }
  /* Image Slider At Home */
    .onebox{
    height: 60vh;
  }

  /* Project Secton Container */
  .slider-content {
      margin-top: 80%;
  }


}




/* ----------------------------------------------- */


@media (max-width:860px ) {
    /* About Page */
   .aboutima{
    margin-top: 70%;
    height: 400;
    width: 400;
  }
  .onebox{
    height: 60vh;
  }
  .oneslider{
    height: 58vh;
  }


}




/* ----------------------------------------------- */


@media screen and (max-width:767px){

    .body{
        font-size: 75%;
    }

    /* NAV-BAR */
    .logo-section{
        float: none;
    }
    nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .hb-button{
        display: inline;
    }
    .logoimg{
    height: 5vh;
    float: left;
    }
}

    /*ABOUT ME PAGE! */
    .aboutima img{
    margin-top: 50%;
    height: 120%;
    width: 120%;
    }
    /*Image Slider Curosel At home!*/

  .onebox{
    height: 62vh;
  }
  .oneslider{
    height: 60vh;
  }
/* SKILL SECTION */
  .column{
  height: 50%;
}

  /* Project Secton Container */
  .slider-content {
      margin-top: 60vh;
  }





/* ----------------------------------------------- */

/* LARGER PHONES */
@media (max-width:700px ) {
    /*ABOUT ME PAGE! */
    .aboutima img{
    margin-top: 50%;
    height: 120%;
    width: 120%;
}

    .column1{
      float: none;
      width: 100%;
    }

    .column2{
      float: none;
      display: none;
    }
    .about-intro-image{
    display: block;
    height: 100%;
    width: 100%;
 }
     /*Image Slider Curosel At home!*/
  .onebox{
    height: 50vh;
  }
  .oneslider{
    height: 48vh;
  }
  /* Skills Section */


  .skills-two{
    display: block;
  }

  .slider-content {
      margin-top: 80vh;
  }


}


/* ----------------------------------------------- */



@media only screen and (max-width : 639px) {
  .amg-badge {
    width: 50%;
    padding: 0px 10%;
  }


}

/* ----------------------------------------------- */


@media (max-width:600px ) {
  /* ABOUT PAGE */
  #headerabout{
    height: 80%;
    width: 80%;
    margin-left:10%;
 }

     /*Image Slider Curosel At home!*/
  .onebox{
    margin-left: 1%;
  }
  .oneslider{
    margin-left: 1%;
  }

  /* Home Section */
  #tag-image{
    height: 17%;
    width: 17%;
}

  /* Project Secton Container */
  .slider-content {
      margin-top: 80vh;
  }


}




/* ----------------------------------------------- */


@media (max-width:550px ) {
  

    /*Image Slider Curosel At home!*/
  .onebox{
    height: 47vh;
    margin-left: -1%;
    margin-top: 9%;
  }
  .oneslider{
    height: 45vh;
    margin-left: -1%;
    margin-top: 9%;
  }
.logoimg{
  display: none;
}
/* Navbar Displayvbutton */
.hb-button{
  margin-right: -5%;
}

#load{
  display: none;
}

/* Project container section */
.projectslider {
    margin-left: -5vw;
}

  .slider-content {
      margin-top: 90vh;
  }


}



/* ----------------------------------------------- */


@media (max-width:500px ) {
.body{
  font-size: 12px;
  width: 100%;
}
.container{
    width: 100%;
}

/* Nav-Bar Profile image */
.logoimg{
    height: 4vh;
}

  /* ABOUT PAGE */
.about{
  width: 110%;
  padding-right: 10%;
}

    /*Image Slider Curosel At home!*/
  .onebox{
    height: 42vh;
    width: 100vw;
  }
  .oneslider{
    height: 40vh;
    width: 100vw;
  }
  /* Navbar Display button */
.hb-button{
  margin-right: -6%;
}
  /* Home Section */
#tag-image{
    height: 18%;
    width: 18%;
}

/* Project container section */
.projectslider {
    margin-left: -8vw;
}

#codetitle {
    margin-left: 10%;
}



}




/* ----------------------------------------------- */


@media (max-width:450px ) {

    /* Navbar Display button */
.hb-button{
  float: left;
}
    /*Image Slider Curosel At home!*/
  .onebox{
    height: 42vh;
    width: 108vw;
  }
  .oneslider{
    height: 40vh;
    width: 106vw;
  }

    /* Project container section */
    .projectslider {
        margin-left: -12%;
    }
    .slider-content {
        margin-top: 130vh;
    }

    #quotetxt {
        margin-left: 8%;
    }

    #about-txt-intro {
        margin-left: 20%;
    }

}

/* ----------------------------------------------- */


@media (max-width:425px) {


    /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        width: 115vw;
    }

    .oneslider {
        height: 40vh;
        width: 113vw;
    }

    /* Project container section */
    .projectslider {
        margin-left: -15%;
    }

    .slider-content {
        margin-top: 140vh;
        min-width: 120vw;
    }

    #quotetxt {
        margin-left: 17%;
    }

}


/* ----------------------------------------------- */


@media (max-width:400px ) {
.body{
  font-size: 11px;
}
#about-txt-intro{
  font-size: 20px;
}

    /*Image Slider Curosel At home!*/
  .onebox{
    height: 42vh;
    min-width: 125vw;
    margin-left: -4%;
  }
  .oneslider{
    height: 40vh;
    min-width: 123vw;
    margin-left: -4%;
  }
    /* Home Section */
    #tag-image{
        height: 25%;
        width: 25%;
    }
    #hellotxt{
    font-size: 23px;
    }

    #codetitle {
        margin-left: 13%;
    }

    /* Project container section */
    .projectslider {
        text-align: center;
        margin-left: -13%;
    }
    .slider-content {
        margin-top: 120vh;
        min-width: 125vw;
    }

    #quotetxt {
        margin-left: 27%;
    }

}

/* ----------------------------------------------- */


@media (max-width:379px) {
    /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        min-width: 139vw;
        margin-left: -4%;
    }

    .oneslider {
        height: 40vh;
        min-width: 137vw;
        margin-left: -4%;
    }

    /* Project container section */
    .projectslider {
        text-align: center;
        margin-left: -12%;
        margin-top: 12vh;
    }
    .slider-content {
        margin-top: 130vh;
        min-width: 134vw;
    }

    #quotetxt {
        margin-left: 37%;
    }

    #about-txt-intro {
        margin-left: 30%;
        text-align: center;
    }

}




/* ----------------------------------------------- */


@media (max-width:350px ) {
      /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        min-width: 145vw;
    }

    .oneslider {
        height: 40vh;
        min-width: 143vw;
    }

    /* Project container section */
    .projectslider {
        margin-left: -6vh;
    }

    .slider-content {
        margin-top: 120vh;
        min-width: 144vw;
    }
    #quotetxt {
        margin-left: 47%;
    }
    

}

/* ----------------------------------------------- */


@media (max-width:330px ) {

    /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        min-width: 150vw;
    }

    .oneslider {
        height: 40vh;
        min-width: 148vw;
    }

    .slider-content {
        margin-top: 120vh;
        min-width: 154vw;
    }
    #about-txt-intro {
        margin-left: 30%;
    }


}

/* ----------------------------------------------- */


@media (max-width:325px) {

    /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        min-width: 153vw;
    }

    .oneslider {
        height: 40vh;
        min-width: 151vw;
    }

    .slider-content {
        margin-top: 98vh;
        min-width: 154vw;
    }



}





/* ----------------------------------------------- */



@media (max-width:320px) {

    /*Image Slider Curosel At home!*/
    .onebox {
        height: 42vh;
        min-width: 153vw;
    }

    .oneslider {
        height: 40vh;
        min-width: 151vw;
    }


    /* Project container section */
    .projectslider {
        margin-left: -8vh;
    }
    .slider-content {
        margin-top: 165vh;
        min-width: 154vw;
    }



}


/*COLLAPSE MEDIA QUERIES */
/* ################################################################################################################# */



I have always loved creating new things as young as I 5 yrs,this is due to my artistic abilities which i have always acknowledged to find the best ways to engage with my creativity.This same creative curiosity and passion laid a way for me to join Moringa school where i spend eight to ten hours a day for over 6 months infront of a computer coding, debugging or discussing coding practices and methods with other programmers.
During this time I systematically figured out ways to build more efficient and usable systems for the user.This i Experienced first hand in courage and confidence as i undertook to recreate applications such as instagram and unsplashed. Which i was expected to deleliver within one week. This then taught me to take on a complex abstract problem and turn it to a brilliant software system with resolute steps.
I have also studied art specificaly drawing and painting. I have tried almost most of the arts, failing at some, succeeding at others. Some did not hold my interest. From all I learned; from each I took something that I still employ in my current work.


                <!-- SECTION TWO SKILLS -->

                                <div class="skills">
                                    <figure class="snip0053 yellow">
                                        <figcaption>
                                            <h2>photography
                                            </h2>
                                        </figcaption>
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample5.jpg" alt="sample5" />
                                        <div class="position">Design</div>
                                    </figure>
                                    <figure class="snip0053 blue">
                                        <figcaption>
                                            <h2>Photoshop
                                            </h2>
                                
                                        </figcaption>
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                                        <div class="position"> Design</div>
                                    </figure>
                                    <figure class="snip0053 red">
                                        <figcaption>
                                            <h2> illustrator
                                            </h2>
                                
                                        </figcaption>
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample7.jpg" alt="sample7" />
                                        <div class="position">Design</div>
                                    </figure>
                                </div>

                <!-- COLLAPSE SECTION TWO SKILLS -->


i would stand for substetible correction by anyone who does not share this view with me as i ve seen
There’s a reason you’ll see developers wearing headphones. Coding often requires deep concentration and getting into the
“zone.” It’s often when they are at their most productive. Time passes in the blink of an eye, brilliant solutions appear,
complex code with numerous pieces that interact can be created — and it all just flows out automatically. Artists are also
known for getting in the zone, often spending hours or even days working continuously on a project. Great pieces of work
often take weeks or months, whether it’s creating a painting or coding a software system.2







fit code section to center 
make nav bar oka
firnish on code section