/*!************************************************\


 ________   _______   ___       ___       ______     _              ____
 |  ____|  |  ___  |  | |       | |      |_   _|    | \     ||   / ____|
 | |       | |   | |  | |       | |        | |      |  \    ||  | (___
 | |       | |   | |  | |       | |        | |      ||\  \  ||   \___  \
 | |____   | |___| |  | |____   | |____    | |      ||  \  \||   ____) /
 |______|  |_______|  |______|  |______| |_____|    ||    \_ |  \_____/


   Conception/Design by https://github.com/zecollokaris
                   made by collo

  
\*************************************************/

/*************************************************\
                     
\*************************************************/



/* ################################################################################################################# */
        /* STYLER FOR WHOLE BODY SECTION */
/* ################################################################################################################# */

*{
    margin: 0;
    padding: 0;
}


body {
  background:#000;
  margin: 0;
  padding: 0;
}

#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}


    /* COLAPSE STYLER FOR WHOLE BODY SECTION */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* NAV BAR STYLE */
/* ################################################################################################################# */
.navigator{
    margin-top: 5%;
    font-family: 'Russo One', sans-serif;
}
header{
    width: 100%;
    height: auto;
}

nav{
    background: transparent;
    overflow: hidden;
    width: 100%;
    z-index: 1999;
}

.logo-section{
    float: left;
    padding: 18px;
    font-family: serif;
}

.hb-button{
    float: right;
    background: white;
    color: rgb(0, 255, 166);
    border: none;
    font-size:22px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
nav a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    padding: 5px;
    
}

nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height: 0.5s;
    -webkit-transition: max-height: 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    
}


nav ul li{
    float: right;
    display: inline;
    padding: 20px;
}
li > a{
    position: relative;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 255, 166);
}

li > a:hover{
    color:#000;
}

li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 166);
    visibility: onset;
    -webkit-transform: scaleX(0);
    transform: scale(0);
    -webkit-transition: all 4s easy-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

li > a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Image on nav bar class */
.logoimg{
    height: 10vh;
}
/*Collapse Image on nav bar class */


/* COLLAPSE NAV BAR STYLE */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* LOADER LANDING PAGE */
/* ################################################################################################################# */
#loader{
    position: absolute;
    left: 45%;
    top: 30%;
    margin: 0 auto;
}

/* hide content */
#content{
    display: none;
    text-align: center;
}

/* add animation */
.animate-bottom{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom{
    from {bottom: -100px; opacity: 0}
    to{ bottom: 0; opacity: 1}
}
@keyframes animatebottom {
    from{ bottom:-400px; opacity: 0 }
    to{ bottom: 0px; opacity: 1}

}


        /*COLLAPSE LOADER LANDING PAGE */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /*  IMAGE SLIDER AT THE TOP */
/* ################################################################################################################# */


.slider{
    position: relative;
    width: 100%;
    height: 71vh;
    box-shadow: -1px 6px 48px -6px rgba(0,0,0,0.26);
    margin: auto;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-100%,0%);
}

.active{
    transform: translate(0,0);
}

.active ~ .slide{
    transform: translate(100%,0);
    
}

/* SLIDER IMAGES */
.s1{
    background: url('../images/slide1.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.s2{
    background: url('../images/slide2.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.s3{
    background: url('../images/slide3.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.s4{
    background: url('../images/slide4.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.box{
    width: 100%;
    height: 73vh;
    background: url('../images/patt3.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 999;
    -webkit-clip-path:polygon(0% 100%, 100% 100%,100% 80%,93% 85%,8% 95%, 15% 6%,89% 22%,93% 85%,100% 80%,100% 0%,0% 0%,0% 100%);
    transition: all 1s;
    
}

        /* COLLAPSE SLIDER IMAGES */
/* ################################################################################################################# */
/* ################################################################################################################# */
        /* HOME CONTENT SECTION */
/* ################################################################################################################# */

/* HOME INTRO SECTION */

#home-intro{
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 5px solid yellow;
    margin: 1em 0;
    width: 100px;
}

.intro-description{
    padding-top: 2%;
}


/* COLLAPSE HOME INTRO SECTION */

/* ################################################################################################################# */
/* ################################################################################################################# */
       

        /* CONTENT SLIDER */

.wrapper{
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.layer .content-body{
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
}

.layer img{
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.layer h1{
    font-size: 2em;
}

.bottom{
    background: #222;
    z-index: 1;
}

.bottom .content-body{
    right: 5%;
}

.bottom h1{
    color: #FDAB00;
}

.top{
    background: #eee;
    color: #222;
    z-index: 2;
    width: 50vw;
}

.top .content-body{
    left: 5%;
    color: #222;
}

.handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: #FDAB00;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

.skewed .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
    
}



        /* COLLAPSE CONTENT SLIDER */
/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */

/* ################################################################################################################# */


/* ################################################################################################################# */

/* ################################################################################################################# */

/* MEDIA QUERIES */

@media screen and (max-width:768px){
    .logo-section{
        float: none;
    }
    nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .hb-button{
        display: inline;
    }
}

/*COLLAPSE MEDIA QUERIES */
/* ################################################################################################################# */
I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not coding, tweeting or pushing pixels,
you'll find me cooking, gardening or working out in the park.